@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
}

/*--headar-sec--*/
.header-sec{
    display: flex;
}
.header-div{
    width:50%;
    padding:30px;
}
.header-div h1{
    font-size:50px;
    font-weight:bold;
    color: rgb(173, 173, 173);
}
.head-h1{
    color: rgb(67, 69, 172);
    font-size:60px;
}
.header-div p{
    font-size:16px;
    text-align:justify;
    color: rgb(155, 153, 153);
    padding-bottom:5px;
}
.btn{
    font-size:16px;
    font-weight:bold;
    color:#fff;
    background-image: linear-gradient(black,rgb(155, 153, 153));
    padding:10px;
    border-radius:5px;
    text-decoration: none;
    cursor: pointer;
    display:inline-block;
}
.header-img{
    margin-left: 35px;
}