@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
}

/*--headar-sec--*/
.header-sec{
    display: flex;
}
.header-div{
    width:50%;
    padding:30px;
}
.header-div h1{
    font-size:50px;
    font-weight:bold;
    color: rgb(173, 173, 173);
}
.head-h1{
    color: rgb(67, 69, 172);
    font-size:60px;
}
.header-div p{
    font-size:16px;
    text-align:justify;
    color: rgb(155, 153, 153);
    padding-bottom:5px;
}
.btn{
    font-size:16px;
    font-weight:bold;
    color:#fff;
    background-image: linear-gradient(black,rgb(155, 153, 153));
    padding:10px;
    border-radius:5px;
    text-decoration: none;
    cursor: pointer;
    display:inline-block;
}
.header-img{
    margin-left: 35px;
}

/*--feature--*/
.feature-section{
    background-image: url(/images/pog_bac_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 500px;
    display: flex;
}
.feature-div{
    width: 30%;
    padding: 30px;
}
.feature-div h4{
    font-size:28px;
    color: #fff;
}
.feature-div p{
    font-size:20px;
    color: #e0d0d0;
    font-weight:bold;
    text-align: justify;
}
.btn2{
    color: #fff;
    background-image: linear-gradient(#1F1F1F,#2D333D);
    font-weight: bold;
    font-size:16px;
    padding:10px;
    border-radius:5px;
    text-decoration: none;
}
.feedback-section{
    position:relative;
    align-items: center;
}
.feedback-div{
    margin-left: 650px;
    padding: 100px;
}
.feedback-div h1{
    font-size:26px;
    color: rgb(170, 170, 170);
}
.feedback-div label{
    font-size:24px;
    color:#b1aeae;
    
}
.feedback-div input{
    width:400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #b1aeae;
    padding: 12px 20px;
}
.feedback-div button{
    background-color: #ABA7A8;
    color: #fff;
    font-size:15px;
    padding:10px;
    width: 100px;
    border-radius: 3px;
    border: none;
}
form lavel input{
  
}

footer{
    background-color:#e0d0d0;
    height: 280px;
    
}
.footer-div{
    text-align: center;
    color: rgb(161, 158, 158);
}